.DS_Store
node_modules
dist/
cli/output/
ui/tests/e2e/videos/
ui/tests/e2e/screenshots/

# local env files
.env.local
.env.*.local
.env

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Minio files except README to keep bucket alive
minio/*
!minio/cube-creator/
minio/cube-creator/*
!minio/cube-creator/test-data/
!minio/cube-creator/README.md
