name: "Env setup"

runs:
  using: "composite"
  steps:
    - uses: actions/setup-node@v2.4.0
      with:
        node-version: 16
        cache: "yarn"
    - run: yarn install --ci
      shell: bash
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v1
    - name: Install lando
      run: sh e2e-tests/install-lando.sh
      shell: bash
    - name: Start site
      run: sh e2e-tests/start-lando.sh
      shell: bash
