@import "~bulma/sass/utilities/initial-variables";

$body-size: 14px;
$size-7: 0.8rem;
$primary: $turquoise;

@import "~bulma/sass/utilities/_all";

$size-7: 0.8rem;
$size-small: $size-7;

$panel-shadow: none;
$panel-heading-size: 1rem;
$panel-radius: 0;

// Import Bulma and Buefy styles
@import "~bulma";
@import "~buefy/src/scss/buefy";
@import "./loading";

.panel-block,
.panel-heading,
.panel-tabs {
    border-bottom: 1px solid $grey-lighter;
    border-left: 1px solid $grey-lighter;
    border-right: 1px solid $grey-lighter;
}

.panel-block:first-child,
.panel-heading:first-child,
.panel-tabs:first-child {
    border-top: 1px solid $grey-lighter;
}

.panel-block > .level-left,
.panel-block > .level-right {
    flex-grow: 1;
}

.panel-block input[type=checkbox] {
    margin-right: 0;
}

.tabs.is-highlighted li.is-active a {
    background-color: $tabs-toggle-link-active-background-color;
    border-color: $tabs-toggle-link-active-border-color;
    color: $tabs-toggle-link-active-color;
}

@import '~@oruga-ui/theme-bulma/dist/scss/bulma';
