
.h-full {
    height: 100%;
}

.gap-1 > *:not(:last-child) {
    @extend .mr-1;
}

.gap-2 > *:not(:last-child) {
    @extend .mr-2;
}

.gap-3 > *:not(:last-child) {
    @extend .mr-3;
}

.gap-4 > *:not(:last-child) {
    @extend .mr-4;
}

.gap-5 > *:not(:last-child) {
    @extend .mr-5;
}

.gap-6 > *:not(:last-child) {
    @extend .mr-6;
}

.border-bottom-1 {
    border-bottom: 1px solid gray;
}

.border-yellow {
    border-color: $yellow;
}

.truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.list-disc {
    list-style-type: disc;
}

.list-inside {
    list-style-position: inside;
}
