name: CI

on: [push, pull_request]

jobs:
  unit-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1.4.2
        with:
          node-version: 14
      - run: yarn install --ci
      - run: yarn test

  cli-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1.4.2
        with:
          node-version: 14
      - name: Install lando
        run: sh e2e-tests/install-lando.sh
      - name: Start site
        run: sh e2e-tests/start-lando.sh
      - run: yarn install --ci
      - run: yarn test:cli
      - name: logs on fail
        if: ${{ failure() }}
        run: lando logs -s core

  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1.4.2
        with:
          node-version: 13
      - run: yarn install --ci
      - run: yarn lint

  e2e-tests:
    runs-on: [ubuntu-latest]
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: 13
      - run: yarn install --ci
      - name: Install lando
        run: sh e2e-tests/install-lando.sh
      - name: Start site
        run: sh e2e-tests/start-lando.sh
      - run: docker-compose -f docker-compose.yml -f docker-compose.posix.yml run e2e-tests
      - name: logs on fail
        if: ${{ failure() }}
        run: lando logs -s core
