name: CI

on: [push, pull_request]

jobs:
  unit-test:
    runs-on: ubuntu-latest
    timeout-minutes: 45
    steps:
      - uses: actions/checkout@v2
      - uses: ./.github/workflows/setup-env
      - run: yarn test
      - run: yarn test:queries
      - run: yarn test:cli:rest
        env:
          AUTH_RUNNER_CLIENT_SECRET: ${{ secrets.AUTH_RUNNER_CLIENT_SECRET }}
      - name: logs on fail
        if: ${{ failure() }}
        run: lando logs -s core
      - name: Codecov
        uses: codecov/codecov-action@v1.0.5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}

  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2.4.0
        with:
          node-version: 16
          cache: 'yarn'
      - run: yarn install --ci
      - run: yarn lint
      - run: yarn workspace @cube-creator/ui lint

  e2e-tests:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      - uses: actions/checkout@v2
      - name: Set e2e environment variables
        run: echo -e "\nVUE_APP_E2E=true\nVUE_APP_X_USER=john-doe\nVUE_APP_X_PERMISSION=pipelines:read,pipelines:write" >> .local.env
      - uses: ./.github/workflows/setup-env
      - run: yarn seed-data

      - name: Hydra e2e tests
        run: docker-compose -f docker-compose.yml -f docker-compose.posix.yml run e2e-tests
      - name: core logs on fail
        if: ${{ failure() }}
        run: lando logs -s core
      - name: pipeline logs on fail
        if: ${{ failure() }}
        run: lando logs -s pipeline

      - name: UI e2e tests
        run: yarn workspace @cube-creator/ui test:e2e --url https://app.cube-creator.lndo.site --headless
      - name: Save Cypress videos
        uses: actions/upload-artifact@v2
        if: failure()
        with:
          name: cypress-videos
          path: ui/tests/e2e/videos/*
      - name: Save Cypress screenshots
        uses: actions/upload-artifact@v2
        if: failure()
        with:
          name: cypress-screenshots
          path: ui/tests/e2e/screenshots/*

  test-transform:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      - uses: actions/checkout@v2
      - uses: ./.github/workflows/setup-env
      - run: yarn test:cli:transform
        env:
          AUTH_RUNNER_CLIENT_SECRET: ${{ secrets.AUTH_RUNNER_CLIENT_SECRET }}
      - name: logs on fail
        if: ${{ failure() }}
        run: lando logs
      - name: Codecov
        uses: codecov/codecov-action@v1.0.5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}

  test-publish:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      - uses: actions/checkout@v2
      - uses: ./.github/workflows/setup-env
      - run: yarn test:cli:publish
        env:
          AUTH_RUNNER_CLIENT_SECRET: ${{ secrets.AUTH_RUNNER_CLIENT_SECRET }}
      - name: logs on fail
        if: ${{ failure() }}
        run: lando logs
      - name: Codecov
        uses: codecov/codecov-action@v1.0.5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}

  test-import:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      - uses: actions/checkout@v2
      - uses: ./.github/workflows/setup-env
      - run: yarn test:cli:import
        env:
          AUTH_RUNNER_CLIENT_SECRET: ${{ secrets.AUTH_RUNNER_CLIENT_SECRET }}
      - name: logs on fail
        if: ${{ failure() }}
        run: lando logs
      - name: Codecov
        uses: codecov/codecov-action@v1.0.5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
