name: Pipeline

on:
  workflow_dispatch:
    inputs:
      transform_job:
        description: 'Job URL'
      publish_job:
        description: 'Job URL'
      to:
        default: 'graph-store'

jobs:
  pipeline:
    runs-on: ubuntu-latest
    env:
      TS_NODE_TRANSPILE_ONLY: "true"
      AUTH_RUNNER_CLIENT_ID: ${{ secrets.AUTH_RUNNER_CLIENT_ID }}
      AUTH_RUNNER_ISSUER: ${{ secrets.AUTH_RUNNER_ISSUER }}
      AUTH_RUNNER_CLIENT_SECRET: ${{ secrets.REF_AUTH_RUNNER_CLIENT_SECRET }}
      GRAPH_STORE_ENDPOINT: ${{ secrets.GRAPH_STORE_ENDPOINT }}
      GRAPH_STORE_USER: ${{ secrets.GRAPH_STORE_USER }}
      GRAPH_STORE_PASSWORD: ${{ secrets.GRAPH_STORE_PASSWORD }}
      PUBLISH_GRAPH_STORE_ENDPOINT: ${{ secrets.GRAPH_STORE_ENDPOINT }}
      PUBLISH_GRAPH_STORE_USER: ${{ secrets.GRAPH_STORE_USER }}
      PUBLISH_GRAPH_STORE_PASSWORD: ${{ secrets.GRAPH_STORE_PASSWORD }}
      EXECUTION_URL: "https://${{ github.repository }}/actions/runs/${{ github.run_id }}"
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1.4.4
        with:
          node-version: 14
      - run: yarn install --ci
      - name: transform pipeline
        if: github.event.inputs.transform_job != ''
        run: yarn ts-node index.ts transform --job "${{ github.event.inputs.transform_job }}" --execution-url ${{ env.EXECUTION_URL }} --to ${{ github.event.inputs.to }} --debug
        working-directory: cli
      - name: publish pipeline
        if: github.event.inputs.publish_job != ''
        run: yarn ts-node index.ts publish --job "${{ github.event.inputs.publish_job }}" --execution-url ${{ env.EXECUTION_URL }} --debug
        working-directory: cli
      - name: Output artifact
        if: github.event.inputs.to == 'filesystem'
        uses: actions/upload-artifact@v2
        with:
          name: transformed.nt
          path: cli/output/transformed.nt
